<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with machines—whether it’s computers, cars, or anything I can take apart and improve. Mechanical engineering is both my passion and my future profession. I’m especially interested in thermal systems and how they affect the performance of electronics and data centers. I’ve built custom water-cooled PCs, recreated GPU coolers in CAD, and performed custom work on cars.
            </p>
            <p class="paragraph-text justify-text">
                I’m comfortable working with design tools like Autodesk Inventor and SolidWorks, and I enjoy turning engineering concepts into practical, working systems. I've interned at a national lab, participated in NASA programs, and constantly seek new opportunities to learn and build.
            </p>
            <p class="paragraph-text justify-text">
                My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
