<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'm actively seeking internships and early-career opportunities where I can apply my skills in mechanical design, thermal systems, and hands-on prototyping. If you're working on something exciting—especially in data center cooling, electronics, or aerospace—I’d love to be part of it. 
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. It might take me a day to get back, but rest assured, you'll hear from me.
            </p>

            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                </span> -->
            </div>
        </div>
    </section>
</div>